    <div class="container">
      <form class="form-signin" role="form" action="/review" method="post">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Review access</h3>
          </div>
          <div class="panel-body">
            <p>Hi <%= user.firstName %>,</p>
            <p>Here's a chance to review the sites that have access to your details. Any you un-check
            will have their access revoked.</p>
            <%
                grants.forEach(function(g){
                    %><p><input name="<%= g.clientID %>" type="checkbox" checked>&nbsp;<strong><%= g.clientName %></strong> (<%= g.scope.join(", ") %>)</p><%
                });
            %>
          </div>
        </div>
        <input name="transaction_id" type="hidden" value="<%= transactionID %>">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Done</button>
      </form>
    </div>
